@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a</h1>
</div>
<br />
<div id="columnchart_material" style="width: 100%; height: 500px;"></div>



