@model Recursos_Humanos.Models.Colaboradores.Departamento

@{
    ViewData["Title"] = "Create";
}

<h1>Nuevo departamento</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoDepartamento" class="control-label"></label>
                <input asp-for="CodigoDepartamento" class="form-control" />
                <span asp-validation-for="CodigoDepartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreDepartamento" class="control-label"></label>
                <input asp-for="NombreDepartamento" class="form-control" />
                <span asp-validation-for="NombreDepartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fas fa-arrow-alt-circle-left"></i> Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
