@model Recursos_Humanos.Models.Procesos.Salida

@{
    ViewData["Title"] = "Create";
}

<h1>Crear salida</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpleadoId" class="control-label"></label>
                <select asp-for="EmpleadoId" class ="form-control" asp-items="ViewBag.EmpleadoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoSalida" class="control-label"></label></br>
                <input type="radio" value="Desahucio" asp-for="TipoSalida" class="" />Desahucio
                <input type="radio" value="Despido" asp-for="TipoSalida" class="" />Despido
                <input type="radio" value="Renuncia" asp-for="TipoSalida" class="" />Renuncia
                <span asp-validation-for="TipoSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motivo" class="control-label"></label>
                <textarea asp-for="Motivo" class="form-control"></textarea>
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSalida" class="control-label"></label>
                <input asp-for="FechaSalida" class="form-control" />
                <span asp-validation-for="FechaSalida" type="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
